#header{
	background:#2222aa;
	height: 150px;
	width: 100%;
	font-size: 35px;
	text-align: center;
}

#main{
	background:yellow;
	height: 450px;
	width: 100%;
	font-size: 35px;
	text-align: center;
}

#div{
	height: 440px;
	font-size: 35px;
	text-align: center;
}
