#all{
	height: 640px;
	width: 1360px;
	background: gray;
}
#left{
	height: 640px;
	width: 200px;
	background: red;
	float: left;
}

#right{
	height: 640px;
	width: 1160px;
	background: green;
	float: right;
}
#header{
	height: 75px;
	width: 1160px;
	background: white;
	/*float:;*/
}
#content{
	height: 565px;
	width: 1160px;
	background: red;
	/*float: right;*/
}

#logo{
	height: 75px;
	width: 200px;
	background-image: url("../tanvir.jpg");
	float:left;
}
#manu{
	height: 75px;
	width: 960px;
	background: yellow;
	float: right;
}

#submit{
	height: 30px;
	width: 150px;
	background: red;
}
#root{
	height: 565px ;
	width: 960px;
	background: blue;
	float: left;
}

#link{
	height: 565px;
	width: 200px;
	float: right;
	background: red;
}

#main_content{
	height: 465px ;
	width: 960px;
	background: #aaccaa;
}

#footer{
	height: 100px;
	width: 200px;
	background: gray;
}

#facebook{
	height: 100px ;
	width: 760px;
	background: #ccaacc;
	float: left;
}

#banner{
	height: 100px;
	width: 200px;
	float: right;
	background: #aaaaff;
}

